.currentTimer{
    position: fixed;
    top: 2%;
    left: 2%;
    height: 50px;
    width: 200px;
    border-radius: .3rem;
    border: 1px solid gray;
    display: inline-block;
}

.currTimerWrapper{
    height: 100%;
}

.min{
    border-left: .3px solid #fff;
    border-right: 0.3px solid white;
}

.hour{
    border-right: 0.3px solid white;
}

.sec{
    border-left: 0.3px solid white;
}

.timerHalf{
    width: 31%;
    display: inline-block;
    text-align: center;
    top: 10;
    position: relative;
    font-size: 40px;
    height: 100%;
}

.swOffBtn{
    position: fixed;
    left: 53%;
    top: 2%;
    height: 40px;
    width: 46px;
    border: 1px solid;
    border-radius: .3rem;
    font-size: xx-large;
    text-align: center;
    padding: 5px;
}

.runningCountDown{
    color: hotpink;
}