body{
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    background-color: #1f1d2b;
}

::-webkit-scrollbar {
    width: 6px;
    height: 2px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ff7551;
    border-radius: 10px;
}

.notConnected{
    background-color: #FFCC00;
}
.connected{
    background-color: #00FF00;
}

.connectionIndicator{
    position: fixed;
    top: 15px;
    right: 15px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.colorSection{
    display: flex;
    justify-content: center;
}

.page{
    padding: 20px 0px;
    height: 100%;
}

#home{
    padding: 0px 0px 20px;
}