/*
.offTimePickerWrapper{
    padding: 40px 10px;
}

.picker.picker-open.picker-opened, .picker-dialog{
    background-color: transparent;
}

.picker-dialog, .picker-cancel, .picker-confirm{
    color:white;
}
*/